:root {
    --test: none; 
}

* {
    box-sizing: border-box;
}

body {
    background: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#alert {
    display: flex;
    flex-flow: column wrap;
      position: absolute;
      top: 50%;
      right: 0;
      width: 200px;
      height: 50px;
      background: red;
      border-radius: 10px 10px 0 0px;
      transform: rotate(-90deg) translateY(125%);
      padding: 0 10px 10px 10px;
      color: white;
      animation: slidein 1s ease-in;
      animation-delay: 12s;
      animation-fill-mode: backwards;
}

@keyframes slidein {
    0% {transform: translateX(250%);}
    100% {transform: translateX(125%);}
}

#alert > p {
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vh;
    text-orientation: sideways-right;
}

#title-wrapper {
    border: var(--test);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 90vh;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "apparat-light", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 7vh;
    color: white;
}

.letter {
    animation: letterpulse 2s ease-in-out infinite;
}

@keyframes letterpulse {

    0% {
        text-shadow: 0px 0px 0px #FFFFFF;
        
    }
    100% {
        text-shadow: 0px 0px 10px #FFFFFF;
        transform: scale(1.25) translateY(-10%);
        
    }
}

.L1 {
    grid-area: 2 / 1 / 3 / 2;
    animation-direction: alternate-reverse;
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
}
.L2 {
    grid-area: 1 / 5 / 2 / 6;
    animation-direction: alternate;
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
}

.L3 {
    grid-area: 2 / 12 / 3 / 13;
    animation-direction: alternate-reverse;
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
}

.L4 {
    grid-area: 5 / 2 / 6 / 3;
    animation-direction: alternate;
}

.L5 {
    grid-area: 4 / 10 / 5 / 11;
    animation-direction: alternate-reverse;
    
}

.L6 {
    grid-area: 8 / 2 / 9 / 3;
    animation-direction: alternate;
    font-family: "apparat", sans-serif;
    font-weight: 800;
}

.L7 {
    grid-area: 12 / 4 / 13 / 5;
    animation-direction: alternate-reverse;
    font-family: "apparat", sans-serif;
    font-weight: 800;
}

.L8 {
    grid-area: 11 / 9 / 12 / 9;
    animation-direction: alternate;
    font-family: "apparat", sans-serif;
    font-weight: 800;
}

.L9 {
    grid-area: 9 / 11 / 10 / 12;
    animation-direction: alternate-reverse;
    font-family: "apparat", sans-serif;
    font-weight: 800;
}

.sentence > p:first-line {
    font-variant: small-caps;
}


.sentence {
    border: var(--test);
    position: absolute;
    width: 50%;
    margin: 0 auto;
    font-family: "apparat-light";
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 1.5vh;
    letter-spacing: -0.1em;
    line-height: 1em;
    z-index: 0;
    cursor: move;
}

.S5 {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.S7 {
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}
.S4 {
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
}

.S3 {
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
}

.S1 {
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
}

.S6 {
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
}

.S2 {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.S8 {
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
}
.S14 {
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
}
.S12 {
    top: 59%;
    left: 50%;
    transform: translateX(-50%);
}
.S11 {
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
}
.S13 {
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}
.S10 {
    top: 69%;
    left: 50%;
    transform: translateX(-50%);
}
.S19 {
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
}

























header {
    border: var(--test);
    flex-basis: 5vh;
    display: flex;
    position: fixed;
    top: 1vh;
    align-self:flex-start;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    background: black;
    width: 100%;
    min-height: 30px;
    height: 5vh;
    z-index: 1;
}

footer {
    border: var(--test);
    flex-basis: 5vh;
    display: flex;
    position: fixed;
    bottom: 1vh;
    align-self:flex-end;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    background: black;
    width: 100%;
    min-height: 30px;
    height: 5vh;
    z-index: 1;
}

a {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
  
.button-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    width: 150px;
    height: 30px;
    border-radius: 50vmin;
    text-align: center;
    overflow: hidden;
    line-height: 2em;
}
  
.button-link-wrapper {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200%;
    transform: translateY(-25%);
    transition: 0.4s ease-in-out;
}
  
.button-link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: "apparat-light", sans-serif;
    font-weight: 100;
    font-style: normal;  
}
  
.button-link-wrapper:hover {
    transform: translateY(25%);
}