:root {
    --TR-primary-color: white;
    --TR-text-color: #8affe0;
    --TR-bg-color: #2F55BD;
}

@font-face {
    font-family: 'TRYST';
    src: url('https://assets.codepen.io/14874320/TrystVF.ttf')format('ttf');
}

body {
    background-color: #2F55BD;
}

#TR-testersGrid {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
        background-size: 10px 10px;
    background-image: radial-gradient(circle, rgba(82, 120, 206, 1) 1px, rgba(47, 85, 189, 1) 1px);
    overflow: hidden;
}

.tester-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    border-bottom: solid var(--TR-primary-color) 1px;
}

/* #region Tester */

.tester {
    height: 200px;
    display: flex;
    position: relative;
    transition: 0.5s ease-in-out;
    min-height: 150px;
    max-height: 400px;
    width: 100%;
    box-sizing: border-box;

}


.type-out {
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: var(--TR-text-color);
    font-family: 'TRYST';
    font-size: 150px;
    padding: 10px;
    hyphens: auto;
    line-height: 1;
    font-variant-ligatures: common-ligatures discretionary-ligatures;

}

.type-out:focus {
    outline: none;
}

textarea::placeholder {
    color: var(--TR-text-color);
    opacity: 0.5;
}

/* #endregion */

/* #region Output Bar*/

.output {

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    width: 100%;
    margin: 0;
    padding: 3px;
    background: red;
    transition: 0.5s ease-in-out;
    display: none;
    box-sizing: border-box;
}


/* #endregion*/

/* #region Controls */


.controls-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    height: 41px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    background: rgba(47, 85, 189, 0.5);
    backdrop-filter: blur(5px);
    padding: 8px;
    border-radius: 4px;


}

.controls {
    box-sizing: border-box;
    border: solid var(--TR-primary-color) 1px;
    border-radius: 0px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 25px;
    margin: 0px 5px;


}



/* #region ---------- <input> Range Slider ---------- */
.slider {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 1px;
    background: var(--TR-primary-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 8px;
    /* Set a specific slider handle width */
    height: 8px;
    /* Slider handle height */
    border-radius: 8px;
    background: var(--TR-primary-color);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

/* #endregion */

/* #region ---------- <input> Checkbox ---------- */
.cb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    border-radius: 0;
    border: solid var(--TR-bg-color) 1px;
    background: #ffffff00;
    width: 12px;
    height: 12px;
    transition: 0.5s;
}

.cb:checked {
    background: var(--TR-bg-color);
    color: white;
}

.cb .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--TR-primary-color);
    border: 2px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
}

.cb:checked+.checkmark::after {
    content: 'x';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid var(--TR-bg-color) 1px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* #endregion */




/* #region ---------- Axes Dropdowns Module ---------- */
.dropdown-wrapper {
    flex: 5%;
    box-sizing: border-box;
    padding: 0;
}

.dropdown {
    background: none;
    border: none;
    font-size: 8px;
    color: var(--TR-primary-color);
    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;

}

.OCOR-DropdownWrapper {
    order: 0;
}

.UMMO-DropdownWrapper {
    order: 2;
}
/* #endregion */

/* #endregion */

/* #region ---------- Axes Slider Module ---------- */
.OCOR-Slider-div {
    flex: 20%;
    order: 1;

}

.UMMO-Slider-div {
    flex: 20%;
    order: 3;

}

/* #endregion*/

/* #region ---------- Size Range Module ---------- */
.sizer-div {
    flex: 20%;
    order: 4;
}

/* #endregion*/



/* #region ---------- Text Option Module ---------- */
.text-optioner {
    flex: 25px;
    order: 5;
    position: relative;
    overflow: visible;
}

.textOption-toggle {
    cursor: pointer;
    font-size: 8px;
    color: var(--TR-primary-color);
    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    overflow: visible;
}


.textOption-menu {
    position: absolute;
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
    grid-auto-flow: column;
    bottom: 100%;
    right: 0;
    margin: 5px;
    background: var(--TR-primary-color);
    width: 100px;
    height: 100px;
    z-index: 100;
    transition: 0.2s ease-in-out;
    transform-origin: 50% 100%;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0.5);
}

.textOption-menu.open {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.colorer {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 20px;
    height: 23px;
    padding: 0;
    background: #ffffff00;
    border: none;
}

.textOption-menu>label {
    color: var(--TR-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
}

.textOption-menu>label>.slider {
    background-color: var(--TR-bg-color);
    width: 80%;
}

.textOption-menu>label>.slider::-webkit-slider-thumb {
    background-color: var(--TR-bg-color);
}

/* #endredion*/
.text-align {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--TR-bg-color);
}

.text-align>div {
    flex: 0.5;
    padding: 5px auto;
    height: 100%;
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--TR-bg-color) 1px;
    transition: 0.5s ease-in-out;
}

.textalign-selected {
    background: var(--TR-bg-color);
    color: var(--TR-primary-color);
    transition: 0.5s ease-in-out;
}

label {
    font-size: 8px;
    color: var(--TR-primary-color);
    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* #endregion */

@media(max-width: 900px) {
    #type-out {
        font-size: 70px;
        width: 600px;
    }

    #controls {
        width: 600px;
    }
}

@media (max-width: 600px) {
    body {
        width: 100vw;
    }

    .tester-wrapper {

    padding: 0px;

}

    .tester {
        width: 100vw;
        height: 100px;
        min-height: 100px;
        max-height: 300px;
    }

    .controls-wrapper {
        bottom: 0;
        left:50%;
        transform: translateX(-50%);
        flex-flow: row wrap;
        height: 120px;
        width: 95%;
        margin: 0;
        background: rgba(47, 85, 189, 0.7);
    }

    .controls {
        margin: 1.5px 1.5px;
    }

    .type-out {
        font-size: 50px;
        height: 100%;
        width: 100%;
        line-height: 1;
    }

    .colorer-div {
        order: 0;
        flex: 20%;
    }

    

    .text-optioner {
        order: 4;
        flex: 20%;
    }



    .textOption-menu {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        overflow-y: hidden;
        width: 100px;
        bottom: unset;
        top: 25px;
        transform-origin: 50% 0%;
        left: 0;
        margin: 0;
    }

    .OCOR-DropdownWrapper {
        order: 0;
        flex: 20%;

    }
    .UMMO-DropdownWrapper {
        order: 2;
        flex: 20%;

    }

    

    .OCOR-Slider-div {
        order: 1;
        flex: 70%;
    }

     .UMMO-Slider-div {
        order: 3;
        flex: 70%;
    }


    .sizer-div {
        order: 5;
        flex: 70%;
    }
}