/* #region Basic */
html{
  padding: 0;
  margin: 0;
  font-family: "bilo", sans-serif;
  font-weight: 500;
  font-style: normal;
  color:var(--primary-color)
}


* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

:root{
  --primary-color: rgba(75, 81, 94, 1);
}

body{
  margin: 0;
  padding: 0;
}

/* #endregion */

/* #region Default */
.bolded {
  font-weight: 900;
}

.caption {
  font-size: 0.75rem;
  text-transform: none;
}

h2 {
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.9em;
  color: white;
  margin: 0;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  line-height: 0.9em;
  text-transform: uppercase;
}

h4 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.9em;
    color: var(--primary-color);
    margin: 0;
}

h5 {
  font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.9em;
    color: var(--primary-color);
    margin: 0;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.9em;
  color: var(--primary-color);
  margin: 0;
}

button {

  height: 50px;
  width: 200px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0);
  color: var(--primary-color);
  border: solid var(--primary-color) 1px;
  padding: 0.5em;
  transition: ease-in-out 0.2s;
  font-family: "bilo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13.33px;
}

button:hover {
  background: var(--primary-color);
  color: white;
}

.btnclicked {
  background: var(--primary-color);
  color: white;
}

select {
  height: 50px;
  width: 100%;
  max-width: 200px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0);
  color: var(--primary-color);
  border: solid var(--primary-color) 1px;
  padding: 0.5em;
  font-family: "bilo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13.33px;
}

label {
  display: block;
}

:focus {
  outline: var(--primary-color) solid 1px;
  box-shadow: inset 0px 0px 0px 0px red;
}

a {
  color: white;
}

/* #endregion */


/*------------------------------------------------- */
/*------------------OUT OF SCROLL---------------- */
/*------------------------------------------------- */


/* #region Initializer */


#initializer {
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(75, 81, 94, 0.85);;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 5;
  opacity: 100%;
  transition: 0.25s ease-in-out;
}

#initializer > i {
    float: left;
    line-height: 1.5em;
    color: white;
}
#initializer > h6 {
  display: inline;
  color: white;
}

/* #endregion */

/* #region Header */

header {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 3;
}

#logomark {
  position: fixed;
  right: calc(95vw - 178px);
  height: 100px;
  width: 158.62px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#logo-svg {
  height: 100%;
  fill: white;
}

/* #endregion */

/* #region Landing Bckg: fixed outside scroll */

#landing-bckg{
position: fixed;
z-index: 1;
width: 100%;
height: 100vh;
background-image: url(assets/rain-clouds.gif);

background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
margin: 0;
overflow: hidden;
}

#landing-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
}


#avg-callout {
  font-weight: 900;
}

/* #endregion */

/* #region Main Scroll Container */

#main {
  scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;

}
/* #endregion */


/*------------------------------------------------- */
/*------------------SCROLL CHILDREN---------------- */
/*------------------------------------------------- */


/* #region Landing Placeholder*/

#landing{
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  scroll-snap-stop: normal;
  scroll-snap-align: start;
  }

  /* #endregion */

/* #region Subdiv Visualizer */

  #subdiv-visualizer {
    scroll-snap-stop: normal;
    scroll-snap-align: end;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative;
    background-color: white;

  }

  #sv-content-wrapper {
    display: flex;
    position: relative;
    bottom: 0;
    flex-flow: column nowrap;
    width: 100%;
    height: calc(100vh - 120px);
  }

  #sv-text{
    flex: 0.35;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 0 5vw;
  }

  #sv-map-wrapper{
    flex: 0.65;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  #mh-map {
    max-height: 80%;
    max-width: 90vw;
  }

#kk-map{
  stroke: white;
  stroke-width: 6px;
}

#mm-map{
  stroke: white;
  stroke-width: 6px;
}

#vd-map{
  stroke: white;
  stroke-width: 6px;
}

#mt-map{
  stroke: white;
  stroke-width: 6px;
}

  #kk-map:hover{
    stroke: var(--primary-color);
    
  }
  #mm-map:hover{
    stroke: var(--primary-color);
    
  }
  #mt-map:hover{
    stroke: var(--primary-color);
    
  }
  #vd-map:hover{
    stroke: var(--primary-color);
    
  }

  #sv-key-wrapper{
    height: 50px;
    width: 200px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0);
    color: var(--primary-color);
    padding: 0;
    transition: ease-in-out 0.2s;
  
  }

  #sv-key {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 50px;
    margin: 0 3px;
  }
  
  .sv-key-visual{
    flex: 0.55;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(106, 114, 132, 0), rgba(106, 114, 132, 0.52));
    
  }
  .sv-key-caption{
    flex: 0.45;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .sv-key-min{
    flex: 0.5;
    text-align: left;
  }
  
  .sv-key-max{
    flex: 0.5;
    text-align: right;
  }
  
  
  
  
    
  /* #endregion */
  
/* #region Particle Visualizer */

#particle-visualizer {
  scroll-snap-stop: normal;
  scroll-snap-align: end;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  background-color: white;
  overflow: hidden;
}

#particle-visualizer-content {
  width: 100vw;
  height: calc(100vh - 120px);
  bottom: 0;
  position: absolute;
  left: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
  padding: 0 5vw;
  
}

#particle-visualizer-text{
  height: calc(0.35 * (100vh - 120px));
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

/* #particle-visualizer-content h4 {

  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.9em;
  color: var(--primary-color);

} */

#pv-options-wrapper {
  display: flex;
  flex-flow: row nowrap;

}

#visualize-button {

  height: 50px;
  width: 200px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-shadow: inset 0px 0px 0px 0px red;
  padding: 0.5em;
  font-size: 13.33px;
  

}



#particle-visualizer-bckg {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.particle {

  background: grey;
  animation: rain infinite linear;
  position: absolute;
  width: 4px;


}
 
@keyframes rain{
  0% {top: 0;}

  100%{top: 100vh;}
} 

/* #endregion */

/* #region Year Visualizer */

#year-visualizer {
  scroll-snap-stop: normal;
  scroll-snap-align: end;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  background-color: white;
  overflow: hidden;
}

#yv-content-wrapper {
  display: flex;
  position: relative;
  bottom: 0;
  flex-flow: column nowrap;
  width: 100%;
  height: calc(100vh - 120px);
  
}
#yv-text-wrapper{

  flex: 0.35;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 5vw;

}

#yv-callout-wrapper{
  height: 2em;
  overflow: hidden;
}

#yv-button-wrapper{
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  max-width: 650px;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

#yv-key-wrapper{
  height: 50px;
  width: 200px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0);
  color: var(--primary-color);
  padding: 0;
  transition: ease-in-out 0.2s;

}

.yv-key {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 50px;
  margin: 0 3px;
}

.yv-key-visual{
  flex: 0.55;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  
}
.yv-key-caption{
  flex: 0.45;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.yv-key-min{
  flex: 0.5;
  text-align: left;
}

.yv-key-max{
  flex: 0.5;
  text-align: right;
}



#scale-key > .yv-key-visual {
  background-image: linear-gradient(to right, rgba(106, 114, 132, 0), rgba(106, 114, 132, 1));

}

#avg-key {
  display: flex;
}

#avg-div-A{
  flex: 0.5;
  background-color: var(--primary-color);
  opacity: 0.5;
  height: 100%;
}

#avg-div-B{
  flex: 0.5;
  background-color: var(--primary-color);
  opacity: 1;
  height: 100%;
}


#bars-wrapper {
  position: relative;
  flex: 0.65;
  overflow-x: scroll;

}

#bars-bckg {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;

}

.bar-marker {
  height: 100%;
  flex: 16.67%;
  border-left: solid var(--primary-color) 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}

.bar-marker:first-of-type {
  justify-content: space-between;
}
.bar-marker:last-of-type {
  flex: 14.16%;
  border-right: solid var(--primary-color) 1px;
}

.bar-marker p {
  writing-mode: vertical-rl;
  margin-bottom: 10px;
}

#scrollcall {
  justify-content: space-between;
  
}

#scroll {
  visibility: hidden;
  writing-mode: unset;
  margin: 0 10px;

}

#bars-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 3;
}

.bar {
  height: 75%;
  flex: auto;
  overflow: hidden; 
  animation: baranim 0.4s ease-in-out infinite alternate;
  transition: ease-in-out 0.2s;
  border-radius: 20px;
  color: black;
  cursor: grab;

}

.bar:hover{
  border: dotted white 2px;
}


.bar-content {

  transition: ease-in-out 0.2s;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
}






@keyframes baranim{
  0% {transform: translateY(-10px);}
  100% {transform: translateY(10px);}
}
 
/* #endregion */

/* #region Comparer */

#comparer {
  scroll-snap-stop: normal;
  scroll-snap-align: end;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
}

#comparer-content {
  display: flex;
  position: relative;
  bottom: 0;
  flex-flow: column nowrap;
  width: 100%;
  height: calc(100vh - 150px);
}
#comparer-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex: 20%;
  width: 100%;
  overflow: hidden;
  padding: 0 5vw;
}

#comparisons-container {
  flex: 80%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  

}

#compare-A-wrapper{
  flex: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  border-right: solid var(--primary-color) 1px;
  padding: 0 5vw;
}

#compare-B-wrapper{
  flex: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;

}

.comparison-selector {
  flex: 0.05;
  width: 100%;
  padding-left: 0;
}

.comparison-result {
  flex: 0.85;
  width: 100%;
  border: solid 1px var(--primary-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.result{
  width:100%;
   height:80%; 
   background: var(--primary-color);
  animation: rise 1s ease-in-out infinite alternate;

  transform-origin: bottom center;
  transition: ease-in-out 1s;


}
@keyframes rise{
  0%{transform: scaleY(1)}

  100%{transform: scaleY(1.05);} 
} 

/* #endregion */

/* #region footer */
footer {
  scroll-snap-stop: normal;
  scroll-snap-align: end;
  width: 100%;
  height: 12.5vh;
  background: url(assets/rain-clouds.gif);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: center;
  border-top: 10px white solid;
  padding:0 5vw;
  overflow: hidden;
  
}

#footer-content{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  overflow: hidden;

}

footer h5  {
  color: white;
  width: 100%;


}

footer h6  {
  color: white;
 width: 100%;

}



/* #endregion */


/*------------------------------------------------- */
/*------------------MEDIA QUERIES---------------- */
/*------------------------------------------------- */


  @media (max-width: 1024px){

    /* #region Year Visualizer */
    #bars-container {
      width: 1800px;
    }

    #bars-bckg {
      width: 1800px;
    }

    #scroll {
      
      visibility: visible;
    }
    /* #endregion */
  }

@media (max-width: 600px){

/* #region Default */
    .caption {
      font-size: 0.66rem;

    }
    
    h2 {
      font-size: 4rem;
   
    }

    #title > h2 {
      font-size: 2rem;
     
    }
    
    
    h3 {
      font-size: 1rem;

    }

    #title > h3 {
      font-size: 1.5rem;
  
    } 
    
    h4 {
        font-size: 2rem;

    }
    
    h5 {
      font-size: 1rem;
   
    }
    
    h6 {
      font-size: 0.66rem;

    }

    button {

      height: 35px;
      flex: 50%;
      font-size:0.75rem;
      
     
    }
    
    select {
      height: 35px;
      width: 100%;
      max-width: 200px;
      font-size:0.75rem;
      
    }

/* #endregion */

/* #region Header */







   .color-header{
    background: var(--primary-color);
    height: 50px;
   }
   #logomark{
    right: calc(95vw - 89px);
    height: 50px;
    width: 79px;
   }

   /* #endregion */

/* #region Landing Bckg: fixed out of scroll */
   #landing-content{
    max-width: calc(95vw);
    }
/* #endregion */

/* #region Subdiv Visualizer */

#sv-content-wrapper {
  height: calc(100vh - 70px);
}
   #sv-key-wrapper{
    height: 50px;
    width: 100%;
  }
/* #endregion */

/* #region Particle Visualizer */
#particle-visualizer-content{
  height: calc(100vh - 70px);
}

    #pv-options-wrapper{
      flex-flow: row nowrap;
      width: 100%;
    }

   #visualize-button{
    height: 35px;
    flex: 50%;
    font-size: 0.75rem;


   }

   #monthDropDown {
    max-width:  unset;
    flex: 50%;
   }
   
   .particle {
    width: 2px;
  }
/* #endregion */

/* #region Year Visualizer */
#yv-content-wrapper {
   
  height: calc(100vh - 70px);
  justify-content: space-between;
  
}

#yv-text-wrapper{

  flex: 0.45;


}

#yv-button-wrapper{

  flex-flow: row wrap;
  width: 100%;
  height: 85px;
  align-items: space-between;
}


#yv-key-wrapper{
  height: 35px;
  flex: 1;
  

}

#scale-key {
  margin: 0;
}

#avg-key {
  margin: 0;
}

#bars-wrapper {

  flex: 0.5;


}


#bars-container {
  width: 1800px;
}
#bars-bckg {
  width: 1800px;
}
#scroll {
      
  visibility: visible;
}
/* #endregion */

 /* #region Comparer */
 #comparer-content {

  height: calc(100vh - 70px);
}

#comparer-text {
  flex: 35%;

}

#comparisons-container {
  flex: 65%;


  

}
 /* #endregion */
  }




