html{
  padding: 0;
  margin: 0;
  font-family: "bilo", sans-serif;
  font-weight: 500;
  font-style: normal;
  color:rgb(106, 114, 132)
}


* {
  box-sizing: border-box;
}

:root{
  --primary-color: rgba(75, 81, 94, 1);
}


/*-------------------DEFAULTS-------------------*/


.bolded {
  font-weight: 900;
}

.caption {
  font-size: 0.66rem;
}

h2 {
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.9em;
  color: white;
  margin: 0;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  line-height: 0.9em;
  text-transform: uppercase;
}

h4 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.9em;
    color: var(--primary-color);
    margin: 0;
}

h5 {
  font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.9em;
    color: var(--primary-color);
    margin: 0;
}

button {

  height: 50px;
  width: 200px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0);
  color: var(--primary-color);
  border: solid var(--primary-color) 1px;
  padding: 0.5em;
  transition: ease-in-out 0.2s;
}

button:hover {
  background: var(--primary-color);
  color: white;
}

.btnclicked {
  background: var(--primary-color);
  color: white;
}

select {
  height: 50px;
  width: 200px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0);
  color: var(--primary-color);
  border: solid var(--primary-color) 1px;
  padding: 0.5em;
}

/*-------------------INITIALIZER------------------- */


#initializer {
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 5;
  opacity: 100%;
  transition: 0.25s ease-in-out;
}

#initializer > i {
    float: left;
    line-height: 1.5em;
    color: white;
}
#initializer > h2 {
  display: inline;
  color: white;
}

/*-------------------HEADER------------------- */

header {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 3;
}

#logo {
  height: 100px;
  margin: 10px;
}

/*-------------------MAIN SCROLL CONTAINER------------------- */

#main {
  scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  z-index: 2;

}

/*-------------------LANDING BCKG (outside of scroll div)------------------- */

#landing-bckg{
position: fixed;
z-index: 1;
width: 100%;
height: 100vh;
background-image: url(assets/rain-clouds.gif);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
margin: 0;
overflow: hidden;
}

#landing-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: calc(100vw - 354px);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
}


#avg-callout {
  font-weight: 900;
}

/*------------------------------------------------- */
/*------------------SCROLL CHILDREN---------------- */
/*------------------------------------------------- */


/*-------------------LANDING PLACEHOLDER------------------ */

#landing{
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  scroll-snap-stop: normal;
  scroll-snap-align: start;
  }


/*-------------------SUBDIV VISUALIZER------------------ */

  #subdiv-visualizer {
    scroll-snap-stop: normal;
    scroll-snap-align: end;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative;
    background-color: rgb(106, 114, 132);
  }

/*-------------------PARTICLE VISUALIZER------------------ */

#particle-visualizer {
  scroll-snap-stop: normal;
  scroll-snap-align: end;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  background-color: white;
}

#particle-visualizer-content {
  width: 100vw;
  height: calc(100vh - 150px);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

#particle-visualizer-content h4 {

  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.9em;
  color: var(--primary-color);

}

#pv-options-wrapper {
  display: flex;
  flex-flow: row nowrap;

}

#visualize-button {

  height: 50px;
  width: 200px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5em;

}

#particle-visualizer-bckg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

/*-------------------YEAR VISUALIZER------------------ */

#year-visualizer {
  scroll-snap-stop: normal;
  scroll-snap-align: end;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  background-color: white;
}

#yv-content-wrapper {
  display: flex;
  position: relative;
  bottom: 0;
  flex-flow: column nowrap;
  width: 100%;
  height: calc(100vh - 120px);
}
#yv-text-wrapper{

  flex: 0.2;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

#yv-text-wrapper h4{

  display: block;
  overflow: hidden;
}

#bars-wrapper {

  flex: 0.8;
}

#bars-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 400px;
}

.bar {
  height: 100%;
  flex: auto;
  overflow: hidden;
  animation: baranim 0.4s ease-in-out infinite alternate;
  transition: ease-in-out 0.2s;
  border-radius: 20px;
}

.bar-content {
  visibility: hidden;
  transition: ease-in-out 0.2s;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}






@keyframes baranim{
  0% {transform: translateY(-10px);}
  100% {transform: translateY(10px);}
}
 



/*-------------------COMPARER------------------ */

#comparer {
  scroll-snap-stop: normal;
  scroll-snap-align: end;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
}

#comparer-content {
  display: flex;
  position: relative;
  bottom: 0;
  flex-flow: column nowrap;
  width: 100%;
  height: calc(100vh - 120px);
}
#comparer-text {
  flex: 20%;
  width: 100%;
  overflow: hidden;
}

#comparisons-container {
  flex: 80%;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#compare-A-wrapper{
  flex: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  border-right: solid var(--primary-color) 1px;
}

#compare-B-wrapper{
  flex: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;

}

.comparison-selector {
  flex: 0.05;
  width: 100%;
  padding-left: 10%;
}

.comparison-result {
  flex: 0.85;
  width: 80%;
  border: solid 1px var(--primary-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.result{
  width:100%;
   height:80%; 
   background: var(--primary-color);
  animation: rise 1s ease-in-out infinite alternate;

  transform-origin: bottom center;
  transition: ease-in-out 1s;


}
@keyframes rise{
  0%{transform: scaleY(1)}

  100%{transform: scaleY(1.05);} 
} 

/* #text {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  .data {
    
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    
    
  }
  
  button {
    width: 150px;
    height: 50px;
    border-radius:25px;
    margin-bottom: 20px;
  }
  
  #greenbutton {
    background: rgba(0, 128, 0, 0.3);
    border: solid 2px green;
    color: green;
  }
  
  #redbutton {
    background: rgba(255, 0, 0, 0.3);
    border: solid 2px red;
    color: red;
    visibility: hidden;
  } */
  




  @media (max-width: 800px){
    #landing-content{
    max-width: calc(95vw);
    }
    #title > h2 {
      font-size: 2.5rem;
     
    }
    
    #title > h3 {
      font-size: 1.5rem;
  
    }  
  }


