:root {
    --test: none;
    --test2: solid red 2px;
}

* {
    box-sizing: border-box;
    cursor: crosshair;

}

body {
    background-image: linear-gradient(rgba(212, 212, 212, 0.5) .1em, transparent .1em), linear-gradient(90deg, rgba(212, 212, 212, .5) .1em, transparent .1em);
    background-size: 2em 2em;
} 



/* ----------------HEADER-------------------- */

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-bottom: solid black 1px;
    background-color: white;
    z-index: 3;
}

#headwrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: var(--test);
    height: 5.5em;
    
}

h1 {
    font-family: gandur-new, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 70px;
}

#rfwrap {
    border: var(--test);
    height: 5.5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#tidwrap {
    height: 5.5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: var(--test);
    color: #E73AEB;
    text-shadow: -5px 0px 0px #E7EB3A;
}

#subheadwrapper {
    border: var(--test);
}

h2 {
    font-family: expo-sans-pro-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1em;
}

/* ---------------------NAV BAR---------------------- */

nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 150px;
    left: 0;
    height: calc(100vh - 150px);
    width: 15vw;
    overflow: hidden;
    background-color: white;
    z-index: 3;
}

nav > p {
    font-family: gandur-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
    line-height: 0;
    
}

#navp1 {
    text-shadow: -5px 0px 0px #E7EB3A;
}
#navp2 {
    text-shadow: -5px 0px 0px #E73AEB;
}

svg {
    height: calc(100vh - 450px);
}

/* ---------------------NAVIGATION BUTTONS----------------------- */

#buttons {
    border: var(--test);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 200px;
    right: 0;
    height: 300px;
    width: 50px;
    z-index: 3;
}

.button-wrapper {
    border: var(--test);
    flex: 0.475;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
}

 button {
    width: 150px;
    height: 50px;
    border: solid 1px black;
    border-radius: 0;
    background-color: white;
    transition: 0.25s ease-in-out;
    font-family: expo-sans-pro-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.buttonA-bold {
    color:#E73AEB;
    font-weight: 700;
}

.buttonB-bold {
    color:#E7EB3A;
    font-weight: 700;
}

#about-button:hover {
    background-color: #E7EB3A;
}

#links-button:hover {
    background-color: #E73AEB; 
}

/* --------------------CONTENT----------------------- */

#data-containers-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr); */
    top: 150px;
    left: 15vw;
    width: calc(85vw - 50px);
    height: auto;
    z-index: 2;
}

.data-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#data-container-A .data {
    background-color: #E97FEB;
}
#data-container-B .data {
    background-color: #E99ECC;
}
#data-container-C .data {
    background-color: #E9BAB0;
}
#data-container-D .data {
    background-color: #E9EB7F;
}


.data {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: beige;
    transition: ease-in-out 0.15s;
    overflow: hidden;
}

.data:hover {
    background-color: rgb(206, 206, 176);
    transform: scale(1.05);
}

.data-bckg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(https://admin.itsnicethat.com/images/rwSYBOHHn5hz2kY0ePAT6ye22JU=/111820/format-webp%7Cwidth-1440/59ae6fda7fa44c9e4d0077f0.png);
    background-size: cover;
    background-position: 50%, 50%;
    opacity: 0;
    transition: ease-in-out 0.15s;
}

.data-bckg:hover {
    opacity: 100%;
}

.modal-wrapper {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #E7EB3ACC;
}

.modal {
    background-color: white;
    border: solid 1px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    width: 80vw;
    max-width: 800px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}

.data-img {
    flex: 0.5;
    background-image: url(https://admin.itsnicethat.com/images/rwSYBOHHn5hz2kY0ePAT6ye22JU=/111820/format-webp%7Cwidth-1440/59ae6fda7fa44c9e4d0077f0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    border: solid black 1px;

}


.data-info {
    flex: 0.5;
    padding: 0 0 0 2vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.data-name {
    flex: 0.5;
}
.data-name > h2 {
    font-family: gandur-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    color: #E73AEB;
    text-shadow: -5px 0px 0px #E7EB3A;
    text-align: left;
    letter-spacing: normal;

}

.data-other-info {
    flex: 0.5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow: hidden;
    font-family: expo-sans-pro-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.data-designer {
    flex: 0.18;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: solid black 1px;
    padding: 1vw;
    overflow: hidden;
    background-color: #E7EB3A;
}

.data-year {
    flex: 0.18;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: solid black 1px;
    padding: 1vw;
    overflow: hidden;
}

.data-type {
    flex: 0.18;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: solid black 1px;
    padding: 1vw;
    overflow: hidden;
}

.data-relevance {
    flex: 0.18;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: solid black 1px;
    padding: 1vw;
    overflow: hidden;
    background-color: #E73AEB;
    color: white;
}

.data-url {
    flex: 0.18;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: solid black 1px;
    padding: 1vw;
    overflow: hidden;
    background-color: black;
    color: white;
}

.data-url a {
    color: #E73AEB;
    font-weight: 700;
    text-decoration: none;
}

.data-url a:visited {
    color: white;
    font-weight: 700;
    text-decoration:underline;
}





/*-----------------2X MEDIA QUERIES: <850PX AND <600PX------------------------ */


@media (max-width: 850px) {

/* HEADER ON TABS */
    h1 {
        font-size: 50px;
    }

/* NAV BAR ON TABS */

    nav > p {
        font-size: 50px;
    }
    
    
}

@media (max-width: 600px) {

/* HEADER ON MOBILE */

    header {
        height: 100px;
    }
    #headwrapper {
        justify-content: flex-start;
        height: 4em;
    }

    h1 {
        font-size: 30px;
    }

    #rfwrap{
        height: 4em;
    }
    #tidwrap {
        height: 4em;
    }

    h2 {
        font-size: 11px;
        letter-spacing: 0.7725em;
    }

  /* NAV BAR ON MOBILE */

    nav {
        height: calc(100vh - 100px);
        top: 100px;
    }

    nav > p {
        font-size: 30px;
    }

    #navp1 {
        text-shadow: -2.5px 0px 0px #E7EB3A;
    }
    #navp2 {
        text-shadow: -2.5px 0px 0px #E73AEB;
    }
    svg {
        height: calc(100vh - 350px);
    }
    /* CONTENT ON MOBILE */

    #data-containers-wrapper {
        top: 100px;
    }

    .modal {
        height: 80vh;
        flex-flow: column nowrap;
    }

    .data-img {
        flex: 0.45;
    }
    .data-info {
        flex: 0.65;
        overflow: hidden;
    }

    .data-name {
        flex: 0.45;
    }
    .data-other-info {
        flex: 0.65;
    }
}