@font-face {
    font-family: "AlizarineVF";
    src: url(https://assets.codepen.io/14874320/AlizarineVF.ttf)format('truetype');
}
body{
    background: #8affe0;
}


#az-glyphset-parent{
    position: relative;
    top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: auto;
    font-family: "AlizarineVF";
    color: black;
}

.az-category-wrapper{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.az-category-header{
    grid-column: auto / span 20;
    font-family: 'Elza', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    margin: 5px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
    
}

.az-glyphbox {
    position: relative;
    grid-row: auto / span 1;
    grid-column: auto / span 1;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    background: rgba(0,0,0,0);
    width: 100%;
    height: 30px;
    font-size: 20px;
    line-height: -1;
}

.az-letterbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.az-glyphbox-bckg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 0;
    transition: 0.1s ease-in-out;
}

.az-letterbox:hover {
    position: absolute;
    color: #8affe0;
    transform: scale(5);
    z-index: 3;
}
.az-letterbox:hover~.az-glyphbox-bckg{
    transform: scale(5);
    background-color: black;
    border: none;
    z-index: -1;
}


.stylistic {
    font-feature-settings: "ss01", "ss02";
}

.oldtyle {
    font-variant-numeric: oldstyle-nums;
}

.lining {
    font-variant-numeric: lining-nums;
}

.sups {
    font-variant-position: super;
}

.subs {
    font-variant-position: sub;
}

.fractions {
    font-variant-numeric: diagonal-fractions;
}

#az-glyphset-control-panel {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    background: black;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}

#az-glyphset-variable-slider-div {
height: 25px;
border: solid #8affe0 1px;
 flex: 70%;
 display: flex;
 align-items: center;
 justify-content: space-around;

}

#az-glyphset-variable-slider {
   
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    background: #8affe0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 90%
}

#az-glyphset-variable-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 8px;
    /* Set a specific slider handle width */
    height: 8px;
    /* Slider handle height */
    border-radius: 8px;
    background: #8affe0;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

#az-weight-selector{
    flex: 10%;
    margin: 0 5px 0 0;
}

#az-weight-selector-dropdown {
    background: none;
    border: solid #8affe0 1px;
    font-size: 10px;
    color: #8affe0;
    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    height: 100%;
    margin: 0;
    cursor: pointer;
    height: 25px;
    width: 100%;

}

#az-weightlabel {
        font-size: 10px;
    color: #8affe0;
    font-family: "elza", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
}

@media (max-width: 600px){
    .az-category-wrapper{
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}
.az-category-header{
    grid-column: auto / span 10;
    
}
#az-glyphset-control-panel {

    width: 100vw;

}
}